
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: 1rem 8rem;
  background-color: rgb(224, 224, 224);
  box-shadow: 0 0 10 30 rgba(0, 0, 0, 10);
}
.navbar img{
  width: 50px;
}
.menu-items{
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  gap: 4rem;
}