@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Poor+Story&family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    object-fit: cover;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-family: 'Poor Story', cursive;
    font-family: 'Poppins', sans-serif;
}

#root{
    height: 550px;
    width: 550px;
    margin: auto;
    
}